<p>dashboard-view works!</p>

<div> Welcome {{app.clientAuth?.userName}}</div>
<div> Tenant Id {{app.clientAuth?.tenantId}}</div>

<mat-card>
    <mat-card-header>Lorem ipsum dolor sit amet </mat-card-header>
    <mat-card-content>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis mollitia veritatis enim qui sit, dicta, incidunt sed dolorem fuga eos ducimus velit aliquid ab libero. Sequi aliquam suscipit quasi similique!</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>Lorem ipsum dolor sit amet </mat-card-header>
    <mat-card-content>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis mollitia veritatis enim qui sit, dicta, incidunt sed dolorem fuga eos ducimus velit aliquid ab libero. Sequi aliquam suscipit quasi similique!</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>Lorem ipsum dolor sit amet </mat-card-header>
    <mat-card-content>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis mollitia veritatis enim qui sit, dicta, incidunt sed dolorem fuga eos ducimus velit aliquid ab libero. Sequi aliquam suscipit quasi similique!</mat-card-content>
</mat-card>
