label {
    color: var(--color-primary) !important;
}

.mat-card .table {
    background: inherit !important;
    color: inherit !important;
}
.form-floating-2 {
    display: flex;
    flex-direction: column;
}