<div class="pb-4">
<div class="container-fluid mt-4">

    <section class="description mt-5">
        <mat-card class="card-border-radius">
            <!-- <div class="header-text">{{'_HOME.aboutMultiTenant' | translate}}</div>
            <div class="section-desc mt-3">{{'_HOME.descMultiTenant' | translate}}</div> -->
        </mat-card>
    </section>

    <div class="mt-5">
        <section class="dashboard-sec mb-4">
            <mat-card class="container-card pt-0 card-border-radius">
                <!-- <div class="card-heading-with-bg extented-bg">{{'_HOME.dashboard' | translate}}</div> -->

                <!-- <div class="col-md-12 no-data">{{'_HOME.noDataFound' | translate}}</div> -->
               
            </mat-card>


        </section>
    </div>
</div>
</div>