// :root {
//     --color-primary: #488cff;
//     --color-accent: #488cff;
//     --color-warn: #ffff8c;

//     --text-primary: #488cff;
//     --text-secondary: #ffff8c;
//     --text-hint: #ffff8c;
//     --text-disabled: #ffff8c;
    
//     --text-tertiary: #ffff8c;
//     --text-quaternary: #ffff8c;
    
//     --bg-primary: #488cff;

//     --header-color-primary: #fff;
//     --header-color-secondary: #fff;

//   }

body {
    --xl-font:20px;
    --large-font: 18px;
    --normal-font: 16px;
    --small-font: 14px;
    --xs-font: 12px;
    --page-heading-font: 26px;
    --section-heading-font: 22px;
    --toolbar-heading-font: 24px;

    --md-normal-font: 16px;
    --md-page-heading-font: 26px;
    --md-section-heading-font: 22px;

    --lg-normal-font: 16px;
    --lg-page-heading-font: 26px;
    --lg-section-heading-font: 22px;

    --sm-normal-font: 16px;
    --sm-page-heading-font: 26px;
    --sm-section-heading-font: 22px;
}